table, td, th {
    border: 1px solid black;
    width: 40%
}

table {
    float:right;
    margin-right: 300px;
    margin-left: 300px;
    text-align:center;
}​

fieldset {
    float:left;
    margin:50px;
}

th {
    padding-bottom:35px;
}

.formInput {
    margin: 10px;
}

#tableButton {
    margin-top:10px;
}

#inputStatus {
    font-size:13px;
    color: red;
}

caption {
    font-size:25px;
    margin-bottom:10px;
}
